body{
    font-family: monospace;
    background-color: #f0f0f0;
}
body.white{
    cursor: url("../img/white.cur"), default;
}
body.black{
    cursor: url("../img/black.cur"), default;
}
#scoreboard{
    border-collapse: collapse;
}
#scoreboard td, #scoreboard th{
    border: 1px solid grey;
    text-align: center;
    padding: 5px 5px;
}
#scoreboard .highlight{
    background-color: sandybrown;
}
#announcement{
    background-color: sandybrown;
    text-transform: capitalize;
    /*font-weight: bold;*/
    /*font-size: 15px;*/
    padding: 10px;
    border-radius: 50px;
}
.centre{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    display: block;

}
.tab-cell{
    width: 50%;
    display: table-cell;
}
.shadow{
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#playground {
    /*cursor: pointer;*/
}
#playground td{
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    border: 1px solid white;
}
td.active{
    background-color: #aad751;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.4)
}
div.vl{
    background-color: sandybrown;
    height: 50px;
    width: 2px;
    position: absolute;
    left: 25px;
    top: 0;
}
div.hl{
    background-color: sandybrown;
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 25px;
}
td.selected{
    background-color: sandybrown;
}
#playground td{
    border-radius: 50px;
}